name: lesny_straznik
description: "A new Flutter project."
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ^3.10.7

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.8
  vibration: ^3.1.5
  flutter_tts: ^4.2.5
  http: ^1.2.0  # <--- DODANO TĘ LINIJKĘ (wymagana do łączenia z siecią)

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0
  flutter_launcher_icons: ^0.13.1

flutter:
  uses-material-design: true

# Konfiguracja ikon (ważne wcięcia!)
flutter_launcher_icons:
  android: "launcher_icon"
  ios: true
  image_path: "assets/icon.png"
  min_sdk_android: 21